html {
    background: #f8f8f8;
}

.board {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.square {
    border: black;
    border-style: solid;
    font-size: 6rem;
    text-align: center;
}
