html {
    background: #8fa195;
}

.board {
    justify-content: center;
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px;
}

.square {
    background-color: bisque;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    border: black;
    border-style: solid;
    font-size: 6rem;
    text-align: center;
}
